{% extends 'base.html' %} {% block body %}
<h1 class="text-center">All Posts</h1>
<a href="addimage">Add Image</a>
<a href="addexcel">Upload Excel</a>
<a href="addemployee">Add Employee</a>
<div class="row">
    {% for post in allPosts %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{post.postimg.url}}" class="card-img-top" alt="..." style="height:200px; width:250px;">
            <div class="card-body">
                <h5 class="card-title">{{post.title}} <span class="badge bg-secondary">{{post.author}}</span></h5>
                <p class="card-text">{{post.content|truncatechars:100}}</p>
                <a href="#" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}